.home-page-container {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #01050a;
  align-items: center;

  .wrap {
    width: 100%;
    max-width: 1800px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #01050a;

    .nav {
      margin: 0 40px;
      display: flex;
      height: 20%;
      background-color: #01050a;
      justify-content: space-between;

      .current-date {
        display: flex;
        flex-direction: column;
        width: 30%;

        span.time {
          font-size: 10rem;
          width: max-content;
        }
        div.bottom-date{
          display: flex;
          font-size: 1.5rem;
          align-items: center;

          .day-month {
            display: flex;
            flex-direction: column;
            margin: 10px;
          }

          .icon-AMPM{
            margin-left: 50px;
            align-items: center;

            span.a {
              margin: 0 10px;
              font-size: 2.5rem;
            }
          }
        }
      }

      .infor{
        font-size: 4rem;
      }
    }
  }
}
// background: linear-gradient(to right, #140a40, #262140, #140a40);
//
//   .container {
//     display: flex;
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     max-width: 1200px;
//     background-color: #fff;
//     min-height: 100vh;
//     color: #fff;
//     background: linear-gradient(
//       to bottom,
//       rgba(0, 0, 0, 1),
//       rgba(0, 0, 0, 0.93) 35%,
//       rgba(16, 37, 158, 1) 70%,
//       #8c037a 100%
//     );

//     .column {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       min-height: 100vh;
//       margin: 0;
//       max-width: 1200px;
//       background-color: #fff;
//       min-height: 100vh;
//       color: #fff;
//       background: linear-gradient(
//         to bottom,
//         rgba(0, 0, 0, 1),
//         rgba(0, 0, 0, 0.93) 35%,
//         rgba(16, 37, 158, 1) 70%,
//         #8c037a 100%
//       );
//     }

//     .column-left{
//       display: flex;
//       flex-direction: column;
//       justify-content: left;
//       width: 30%;
//       border: #fff 1px solid;
//       min-height: 100vh;
//       margin: 0;
//       max-width: 1200px;
//       background-color: #fff;
//       min-height: 100vh;
//       color: #fff;
//       background: linear-gradient(
//         to bottom,
//         rgba(0, 0, 0, 1),
//         rgba(0, 0, 0, 0.93) 35%,
//         rgba(16, 37, 158, 1) 70%,
//         #8c037a 100%
//       );
//     }
//   }
// }
