<!-- <div>
    <button (click)="logout()"> LOGOUT</button>
</div>
<button (click)="test()"> TEST</button> -->

<!-- <button (click)="test()">TEST</button> --> 
<div class="user-page">
    <div class="user-page-nav">
        <div class="nav-logo-smartHouse">
            <div class="logo-smartHouse-img"></div>
            <span>Smart House</span>
        </div>
        <div class="nav-user-infor">
            <span class="FullName">Username</span>
            <img src="" alt="" class="userAvatar-img">
        </div>
    </div>
    <div class="user-page-container">
        <div class="content left">
            <div class="time-block">
                <div class="time-top">
                    <span class="time-span">{{time | date:'hh:mm'}}</span>
                </div>
                <div class="time-bottom">
                    <div>
                        <div class="days">
                            <span>{{time | date: 'EEEE'}}</span>
                        </div>
                        <div class="month">
                            <span>{{time | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-sun"></i>
                    </div>
                    <div>
                        <span class="hide" id="am">{{time | date :'a'}}</span>
                    </div>

                </div>

            </div>

            <div class="Schedule">
                Schedule
            </div>
        </div>
        <div class="content right">
            <div class="music">
                <span>Don't Stop Me Now</span>
            </div>
            <div class="list-device">
                <div class="list-device-title">
                    <div class="title-icon">
                        <i class="fa-solid fa-house-chimney"></i>
                    </div>
                    <span class="fontAwesomeIcon "></span>
                    <span class="device-title">Favorites</span>
                </div>
            </div>
            <div class="cameras">
                <span>Cameras</span>
                <div class="camera-videos">
                    <div class="camera">
                        CAM 1
                        <img src="" class="camera-img">
                    </div>
                    <div class="camera">
                        CAM 2
                        <img src="" class="camera-img">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>