/* You can add global styles to this file, and also import other style files */

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, black 30%, blue 75%, #8c037a 100%);
    background-repeat: no-repeat;
}

body     {
    /* background:
        radial-gradient(circle at 50% 60%,
            rgba(149, 176, 249, 1),
            rgba(149, 176, 249, 0) 50%),
        radial-gradient(circle at 10% 10%,
            rgba(114, 226, 253, 1),
            rgba(114, 226, 253, 0) 50%),
        radial-gradient(circle at 90% 10%,
            rgba(184, 150, 255, 1),
            rgba(184, 150, 255, 0) 50%),
        radial-gradient(circle at 90% 90%,
            rgba(86, 207, 210, 1),
            rgba(86, 207, 210, 0) 50%),
        radial-gradient(circle at 10% 90%,
            rgba(168, 112, 253, 1),
            rgba(168, 112, 253, 0) 50%); */

        /* background: linear-gradient(to bottom, black, black 30%, blue 75%, #8c037a 100%); */
        /* background-repeat: no-repeat; */
}